<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939205999890-5c6kfmmm7rbiubuias37g4ldv1agk3g9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939205999890-5c6kfmmm7rbiubuias37g4ldv1agk3g9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>939205999890-mih4makb2lcgppgpg8jh0virodiuiflc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDuU4Ml4KuZ2xo_wnFbB8X4g7tHZTLcmRw</string>
	<key>GCM_SENDER_ID</key>
	<string>939205999890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.calorieCounterAppDesign.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>calorie-counter-d4191</string>
	<key>STORAGE_BUCKET</key>
	<string>calorie-counter-d4191.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939205999890:ios:64f4ee188d2361470687cb</string>
	<key>DATABASE_URL</key>
	<string>https://calorie-counter-d4191-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>